* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    120deg,
    #071028,
    #0b1120,
    #111827
  );

  color: white;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 45px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  box-shadow: 0 25px 80px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.login-card h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 25px;
}


.role-toggle {
  display: flex;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  margin-bottom: 25px;
}

.role-toggle button {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s;
}

.role-toggle .active {
  background: linear-gradient(90deg, #10b981, #3b82f6);
}


form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.08);
  color: white;
}

form input:focus {
  box-shadow: 0 0 0 2px #10b981;
}


.password-field {
  position: relative;
}

.toggle {
  position: absolute;
  right: 15px;
  top: 14px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.7;
}

.login-btn {
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(90deg, #10b981, #3b82f6);
  color: white;
  transition: 0.3s;
  
  margin-top: 10px;     
  margin-bottom: 25px; 
}

.login-btn:hover {
  transform: translateY(-3px);
}


.extra-links {
  margin-top: 20px;  
  display: flex;
  flex-direction: column;
  gap: 12px;         
  font-size: 14px;
  opacity: 0.8;
}

.login-btn:hover {
  transform: translateY(-3px);
}


.login-btn {
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(90deg, #10b981, #3b82f6);
  color: white;
  transition: 0.3s;
  
  margin-top: 10px;     
  margin-bottom: 25px; 
}

.login-btn:hover {
  transform: translateY(-3px);
}


.extra-links {
  margin-top: 20px;  
  display: flex;
  flex-direction: column;
  gap: 20px;         
  font-size: 14px;
  opacity: 0.8;
}

.extra-links a {
  color: #10b981;
  text-decoration: none;
}