.register-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #0b1120, #111827, #0f172a, #1e293b);
  color: white;
}

.card {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
}

.card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg, #10b981, #3b82f6);
  color: white;
  cursor: pointer;
}


.role-section {
  margin-bottom: 20px;
}

.role-section p {
  margin-bottom: 8px;
  font-size: 14px;
}

.role-options {
  display: flex;
  justify-content: space-between;
}

.role-card {
  width: 48%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  border: 1px solid rgba(255,255,255,0.2);
}

.role-card.active {
  background: linear-gradient(90deg, #10b981, #3b82f6);
  color: white;
  border: none;
}
